<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.mapper.PasswordInfoMapper">
	<resultMap type="com.pms.model.PasswordInfo" id="RPasswordInfos">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="url" column="url" />
		<result property="info" column="info" />
	</resultMap>

	<sql id="columns">
		id,name,username,password,url,info
	</sql>

	<select id="getAllPasswords" resultMap="RPasswordInfos">
		select
		<include refid="columns" />
		from pwinfo
		order
		by
		name
	</select>

	<select id="getSearchPasswords" parameterType="java.lang.String" resultMap="RPasswordInfos">
		select
		<include refid="columns" />
		from pwinfo where name like "%"#{key}"%" or username like "%"#{key}"%" or url like "%"#{key}"%" order by
		name
	</select>

	<select id="getPasswordByID" parameterType="int" resultType="com.pms.model.PasswordInfo">
		select
		<include refid="columns" />
		from pwinfo where id=#{id}
	</select>

	<insert id="createPassword" parameterType="com.pms.model.PasswordInfo">
		insert into pwinfo(id,name,username,password,url,info)
		values(#{id}, #{name}, #{username}, #{password}, #{url}, #{info})
	</insert>

	<delete id="deletePassword" parameterType="int">
		delete from pwinfo where id=#{id}
	</delete>

	<update id="modifyPassword" parameterType="com.pms.model.PasswordInfo">
		update pwinfo set
		name=#{name},username=#{username},password=#{password},url=#{url},info=#{info} where id=#{id}
	</update>

	<delete id="deletePasswordByIds">
		delete from pwinfo where id in
		<foreach collection="array" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>